<html lang="ja">
<head>
    <title>Top</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/top.css">
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/result.css">

</head>
<body>
    <h1 class="top-title">pho"X"ograph</h1>
    <p class="top-account"> 画像から生成される音声で伝言ゲームをしよう</p>
    <div class="flex">
        <div class="container">
            <img src="../static/images/icon.png" alt="" class="img">
        </div>
        <div>
            <!-- photograph -->
        </div>
        <div>
            <!-- phonograph -->
        </div>
    </div>


    <a href="/game" class="button1">start</a>
</body>
</html> 